---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { format, formatISO } from 'date-fns';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <article>
    <h1>{entry.data.title}<h1>
      <div>
        <time datetime={formatISO(entry.data.pubDate, {representation: 'date' })}>{format(entry.data.pubDate, 'MMMM yyyy')}</time>
      </div>

      <Content />
  </article>
</Layout>
