---
import Layout from "../layouts/Layout.astro";
import BlogPostItem from "../components/BlogPostItem.astro";

import { getCollection } from "astro:content";

const blogEntries = await getCollection("blog");
---

<Layout title="Martin Madsen | martinbjeldbak">
    <main class="space-y-4">
      <ul>
        {blogEntries.map((post) => <BlogPostItem url={"/" + post.slug} title={post.data.title} />)}
      </ul>
  </main>
</Layout>
