---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";

import { getCollection } from "astro:content";

const blogEntries = await getCollection("blog");
---

<Layout title="Martin Madsen | martinbjeldbak">
  <main class="flex-auto my-10">
    <div class="space-y-12">
      {blogEntries.map((blogPostEntry) => <BlogPost post={blogPostEntry} />)}
    </div>
  </main>
</Layout>
