---
import type { CollectionEntry } from 'astro:content';
import { format, formatISO } from 'date-fns';
interface Props {
  post:  CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<article class="flex flex-row justify-between">
  <div class="text-2xl">
    <a class="hover:text-indigo-200 dark:hover:text-indigo-200" href={post.slug}>
      {post.data.title}
    </a>
  </div>

  <div class="text-base text-end text-indigo-500">
    <time datetime={formatISO(post.data.pubDate, {representation: 'date' })}>{format(post.data.pubDate, 'MMMM yyyy')}</time>
  </div>
</article>



