---
import ThemeIcon from './ThemeIcon.astro'
---
<header class="w-full dark:bg-indigo-950/75">
  <div class="mx-auto">
    <div class="py-4 border-b border-indigo-950/10 lg:px-8 lg:border-0 dark:border-indigo-300/10 mx-4 lg:mx-0">
      <div class="relative flex items-center">
        <nav class="text-sm leading-6 font-semibold text-indigo-700 dark:text-indigo-400">
          <ul class="flex space-x-5">
            <li>
              <a class="text-indigo-200 hover:text-indigo-500 dark:hover:text-indigo-100" href="/">Martin Bjeldbak Madsen</a>
            </li>
            <li>
              <a class="hover:text-indigo-500 dark:hover:text-indigo-400" href="/about">About</a>
            </li>
            <li>
              <a class="hover:text-indigo-500 dark:hover:text-indigo-400" href="/">Blog</a>
            </li>
            <li>
              <a class="hover:text-indigo-500 dark:hover:text-indigo-400" href="/rss.xml">RSS</a>
            </li>
          </ul>
        </nav>
          <div class="flex items-center border-1 border-indigo-200 ml-6 dark:border-indigo-800">
            <ThemeIcon />
          </div>
      </div>
    </div>
  </div>
</header>
